* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.card_wrapper{
    width: 100%;
    display:flex;
    gap:10px;
}

.card {
    width: 30%;
    margin: 10px;
}

.card_image {
    width: 100%;
}

.card_title{
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.table{
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.row{
  display: table-row;
}

.cell{
  display: table-cell;
  border: 1px solid black;
  padding: 10px;
}

.container_block{
  width: 100%;
  height: 200px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_elm{
  width: 500px;
  background-color: azure;
}
